<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding class="login auth-page">
  <!-- Logo -->
  <div class="logo-header" text-center padding>
    <h2 ion-text color="white" >MYTA</h2>
    <h5 ion-text color="white" >TELANGANA ASSOCIATION</h5>
  </div>
<form [formGroup]="loginForm" (submit)="loginUser($event)">
  <!-- Login form -->
  <ion-list>

    <ion-item>
      <ion-icon item-left name="ios-call-outline"></ion-icon>
      <ion-input [maxlength]="11" type="tel" formControlName='phone' placeholder="Phone"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon item-left name="ios-lock-outline"></ion-icon>
      <ion-input [minlength]="6" [maxlength]="10" type="password" formControlName='password' placeholder="Password"></ion-input>
    </ion-item>

  </ion-list>

  <div>
    <button  ion-button round block color="yellow"  type="submit" [disabled]="!loginForm.valid" >LOG IN</button>
  </div>
</form>

  

  <!-- Other links -->
  <ion-grid>
    <ion-row>
      <ion-col width-50>
        <a ion-item detail-none tappable ion-text color="light"  >Forgot password?</a>
      </ion-col>

      <ion-col width-50>
        <a ion-item tappable detail-none ion-text color="light"  (click)="register()">New here? Sign up</a>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
