<!--
  Generated template for the ContactsPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary" >
    <button  ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Contacts</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="search-form">
    <ion-icon name="ios-search"></ion-icon>
    <ion-input type="text" placeholder="{{ contacts.length }} contacts"></ion-input>
  </div>

  <ion-list class="list-full-border">

    <ion-item-sliding *ngFor="let contact of contacts">

      <ion-item >
        <ion-avatar item-left (click)="viewUser(contact.id)">
          <img class="profile-picture" src="{{ contact.face }}" alt=""/>
        </ion-avatar>

        <div>
          <h3 ion-text color="primary"  (click)="viewUser(contact.id)">{{ contact.name }}</h3>
          <ion-badge primay *ngIf="contact.group == 'Family'">Family</ion-badge>
          <ion-badge color="green"  *ngIf="contact.group == 'Friend'">Friend</ion-badge>
        </div>

      </ion-item>

      <ion-item-options>
        <button  ion-button color="light" >
          <ion-icon name="more"></ion-icon>
        </button>
        <button  ion-button color="green" >
          <ion-icon name="call"></ion-icon>
        </button>
        <button  ion-button color="primary" >
          <ion-icon name="text"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
</ion-content>
