<!--
  Generated template for the Verification page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>User verification</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div>
    <h3> We sent you the OTP. Please enter below.</h3>
    <p>Please wait for few minutes to recieve the OTP</p>
  </div>
  <form [formGroup]="verificationForm">
    <ion-item class='verification-input'>
      <ion-input type="tel" formControlName="otp" placeholder="OTP (4 digit)" [maxlength]="4" clearInput></ion-input>
    </ion-item>
    <button ion-button block round color="yellow" (click)="verify()" [disabled]="!verificationForm.valid">Verify</button>
  </form>

</ion-content>