page-verification {
    .verification-input{
        margin-top : 40px;
        .text-input{
            text-align: center !important ;
        }
    }
    h3{
        color: color($colors, primary);
        font-size: 1.4rem;
        font-weight: bold ;
        text-align: center;
        margin-top: 50px !important;
    }
    p{
         color: color($colors, primary);
         font-size: 1.2rem;
         text-align: center;
    }

}
