<!--
  Generated template for the PostPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>CREATE NEW POST</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p> Please fill the description and a pic to upload a new post </p>
  <form [formGroup]="postForm">
    <!-- Login form -->
    <ion-list>

      <ion-item>
        <ion-textarea class="textarea" type="text" formControlName="content" placeholder="Description"></ion-textarea>
      </ion-item>
    </ion-list>
    <div>
      <button ion-button round block color="yellow" (click)="triggerCamera()">upload a pic</button>
      <button ion-button round block color="yellow" (click)="savePost($event)">Save</button>
    </div>
  </form>

</ion-content>