<!--
  Generated template for the FeedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary" >
    <button  ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>FEEDS</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
   <ion-card *ngFor="let key of keys" >
    <ion-item class="post-header">
      <ion-avatar item-left >
        <img src="{{ posts[key].face }}">
      </ion-avatar>
      <h2 color="primary">{{ posts[key].name }}</h2>
      <p color="yellow">{{ posts[key].time | moment  }}</p>
    </ion-item>

    <ion-item text-wrap class="post-body">
      <div (click)="viewPost(key)">
        <img class="full-image" *ngIf=" posts[key].image" src="{{  posts[key].image }}">
        <p padding-top padding-bottom>{{ posts[key].content }}</p>
      </div>

      <div>
        <a (click)="viewPost(post.id)" class="subdued">{{  posts[key].likeCount}} Likes</a>
        <a (click)="viewPost(post.id)" class="subdued" margin-left>{{  posts[key].commentCount}} Comments</a>
      </div>
    </ion-item>

    <ion-grid class="post-actions">
      <ion-row>
        <ion-col width-33 text-center (click)="toggleLike(key)">
          <ion-icon name="thumbs-up" color="primary"  *ngIf=" isLikedPost(key)"></ion-icon>
          <ion-icon name="thumbs-up" *ngIf="! isLikedPost(key)"></ion-icon>
        </ion-col>
        <ion-col width-33 text-center>
        </ion-col>
         <ion-col width-33 text-center (click)="viewPost(key)">
          <ion-icon name="chatboxes"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>

</ion-content>
