page-feed-page {
     .post-body {

    border-top: 1px solid $borderColor;
    border-bottom: 1px solid $borderColor;

    p {
      font-size: 0.8em;
    }

    a.subdued {
      color: $textColor;
      font-size: 0.8em;
    }
  }

  .post-actions {
    color: #7C7C7C;
    font-size: 1.4em;
    p{
      color: color($colors, primary);
    }
  }

  .post-header{
    h2{
    color: color($colors, primary);
    font-weight: bold ;
  }
  p{
    color: color($colors, yellow);
  }
  }

}
