<ion-menu [content]="content">

  <ion-content class="menu-left">
    <!-- User profile -->
    <div class="profile-div"  text-center *ngIf="isLoggedInUser">
      <a color="violet" menuClose (click)="viewUser()">
        <img class="profile-picture"  src="{{ user.face }}">
         <h3>{{ user.name }}</h3>
      </a>
    </div>

    <ion-list no-lines class="list-full-border">
      <button ion-item menuClose detail-none *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon color="white" item-left name="{{ p.icon }}"></ion-icon>
        {{ p.title }}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
