<!--
  Generated template for the UserPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary"  class="no-border">
    <ion-title>PROFILE</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div text-center *ngIf='isLoggedIn' class="user-profile primary-bg">

    <img class="profile-picture"  src="{{ user.face}}">

    <h4 class="light">{{ user.name }}</h4>

    <a class="post-author"  (click)="triggerCamera()">
     CHANGE PHOTO
    </a>
  </div>
<!--
    <ion-grid>
      <ion-row>
        <ion-col width-33>
          <span class="number">{{ user.followers }}</span>
          <span class="desc">Follower</span>
        </ion-col>
        <ion-col width-33>
          <span class="number">{{ user.following }}</span>
          <span class="desc">Following</span>
        </ion-col>
        <ion-col width-33>
          <span class="number">{{ user.favorites }}</span>
          <span class="desc">Favorites</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-item text-wrap *ngFor="let post of user.posts">
    <ion-avatar item-left (click)="viewUser(post.user_id)">
      <img class="profile-picture" src="{{ post.face }}" alt=""/>
    </ion-avatar>

    <a class="post-author" (click)="viewUser(post.user_id)">
      {{ post.name }}
    </a>

    <div class="post-content">
      <div (click)="viewPost(post.id)">
        <p>{{ post.content}}</p>
      </div>
      <p>
        <a (click)="toggleLike(post)" class="subdued">
          <ion-icon name="heart" color="danger"  *ngIf="post.liked"></ion-icon>
          <ion-icon name="heart" color="gray"  *ngIf="!post.liked"></ion-icon>
          {{ post.likeCount}}
        </a>
        <a class="subdued">
          <ion-icon name="chatboxes" color="primary" ></ion-icon>
          {{ post.commentCount}}
        </a>
        <span class="post-time">
          <ion-icon name="timer-outline"></ion-icon>
          {{ post.time }}
        </span>
      </p>
    </div>

  </ion-item> -->
</ion-content>
