<!--
  Generated template for the NotificationsPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary" >
    <button  ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>NOTIFICATIONS</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list class="list-no-border notifications-list">

    <ion-item *ngFor="let notification of notifications">
      <span class="item-label danger-bg" *ngIf="notification.type == 'liked'">
        <ion-icon name="heart" color="light" ></ion-icon>
      </span>

      <span class="item-label secondary-bg" *ngIf="notification.type == 'commented'">
        <ion-icon name="ios-chatboxes"></ion-icon>
      </span>

      <span class="item-label green-bg" *ngIf="notification.type == 'friend_request'">
        <ion-icon name="ios-add"></ion-icon>
      </span>

      <span ion-text color="primary"  class="post-author">
        {{ notification.name }}
      </span>
      <span class="notifications-content" *ngIf="notification.type == 'liked'">liked your post</span>
      <span class="notifications-content" *ngIf="notification.type == 'commented'">commented on your post</span>
      <span class="notifications-content" *ngIf="notification.type == 'friend_request'">
        wants to be your friend
      </span>

      <p class="post-time">
        <ion-icon name="timer-outline"></ion-icon>
        {{ notification.time }}
      </p>
    </ion-item>
  </ion-list>
</ion-content>
