<!--
  Generated template for the SettingPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary" >
    <button  ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Setting</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list  no-lines>
    <ion-item padding>
      <ion-label>Find Facebook Friends</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Find contacts</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Edit profile</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Change password</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Private account</ion-label>
      <ion-toggle color="primary"  checked="false"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Linked account</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
